registry=https://registry.npmjs.org/
save-exact=true
fund=false
audit=false
loglevel=error
progress=false
prefer-offline=true
cache-min=3600
cache-lock-stale=86400000
cache-lock-retries=10
network-timeout=100000
node-linker=hoisted 